p
{
    color: rgb(255, 0, 0);
}

*{
    color: rgb(0, 110, 255);
}

.item
{   
    color: black;
}

.itemp
{
color: blueviolet;
}

.itemh
{
    color: darkviolet;
}

.button123
{
 color: lightskyblue;
}

#mavpa2
{
    color: rgb(21, 255, 0);
}

h1, h2, h3
{
color: rgb(38, 7, 68);
background-color: rgb(156, 156, 156);
}